In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
ds_male = pd.read_csv('../datasets/male-labour-force-j.csv')

ds_female = pd.read_csv('../datasets/female-labour-force-j.csv')

total_labour = pd.concat([ds_male, ds_female])
total_labour.drop('Unnamed: 30', axis = 1, inplace = True)

total_labour.columns = total_labour.columns.str.strip()
total_labour = total_labour.loc[[0,24], : ]
total_labour.set_index('Variables',inplace = True)
total_labour.index.str.strip()

total_labour = total_labour.T
total_labour['Unemployment % - Male'] = total_labour [' Male Unemployed Residents '].astype(int) / total_labour[' Male Residents In The Labour Force '] * 100
total_labour['Unemployment % - Female'] = total_labour [' Female Unemployed Residents '].astype(int) / total_labour[' Female Residents In The Labour Force '] * 100
total_labour = total_labour.T

ds_earning = pd.read_csv("../datasets/average-mean-monthly-earnings-per-employee-by-sex-annual-j.csv")

In [3]:
#function to convert column values to % values 
def col_to_perc(df_column):
    return df_column / df_column.sum() * 100

In [4]:
# aggregate data per decade - 90s', 00's and 10's

total_labour['1990 - 1999'] = total_labour.loc[:,'1990':'1999'].mean(axis=1)
total_labour['2000 - 2009'] = total_labour.loc[:,'2000':'2009'].mean(axis=1)
total_labour['2010 - 2018'] = total_labour.loc[:,'2010':'2018'].mean(axis=1)

total_labour = total_labour.iloc[4:6,-3:]
total_labour = total_labour.T

total_labour['F/M Ratio'] = total_labour['Unemployment % - Female'] / total_labour['Unemployment % - Male']

total_labour.round(2)

Variables    Unemployment % - Male  Unemployment % - Female  F/M Ratio
1990 - 1999                   2.79                     3.01       1.08
2000 - 2009                   4.74                     5.46       1.15
2010 - 2018                   3.62                     4.21       1.16

In [5]:
ds_earning = ds_earning[ds_earning['sex']!= 'total']
ds_earning = pd.pivot_table(ds_earning, values=['average_monthly_earnings'], index = ['sex'],columns=['year'], aggfunc=np.mean)

ds_earning['2000-2009'] =  ds_earning.loc[:,('average_monthly_earnings', 2000):('average_monthly_earnings', 2009)].mean(axis=1)
ds_earning['2010-2018'] =  ds_earning.loc[:,('average_monthly_earnings', 2010):('average_monthly_earnings', 2018)].mean(axis=1)

ds_earning = ds_earning.iloc[:,-2:].T
ds_earning['F/M Ratio'] = ds_earning['female']/ds_earning['male']

ds_earning.droplevel('year', axis = 0)
ds_earning.round(2)

sex              female     male  F/M Ratio
          year
2000-2009       2872.80  3965.30       0.72
2010-2018       4051.22  5427.11       0.75